<body>
<div class="home-page-main">
    <p></p>
    <form action="/users/create" method="POST" id="new-entry">
        <span >DESCRIPTION</span>
        <input class="description" type="text"  name = "description" required placeholder="What do you need to do?">
        <p></p>
        
    <div id="category">
        <p>CATEGORY</p>
        <select name="category" class="drop-menu">
            <option value="no">Choose a category</option>
            <option value="Personal">PERSONAL</option>
            <option value="Work">WORK</option>
            <option value="School">SCHOOL</option>
        </select>
        <p></p>
        <div>
            <p>Due Date</p>
            <input type="date" id='due-date' name="date" required>
        </div>
    </div>
    <div class="btns">
            <button id="add-task" class="dark-grey"><i class="fas fa-plus"> ADD TASK </i></button>
    </div>
    </form>

   <form action="/users/deleteEntry" method="get" id='delete-list-form'>
    <ul id="list-container-details" class="list-container">
        <% for(let i of details) {%>
        <li id="list-<%= i._id%>" class="onelist">
            <input type="checkbox" name="<%= i._id %>" class="markLine" >
            <div class="list-details">
                <span><%= i.description %></span>
                <p class="entry-date" value="<%= i.date %>"><%= i.date %></p>
            </div>
            <div class="list-category">
                <div class="category" ><%= i.cat %></div>
            </div>
        </li>
        <% } %>
    </ul>
    <div class="btns">
        <!-- <a class="red" href=""><i class="fas fa-trash"> DELETE TASK</i></a> -->
        <button id="delete-task" class="red" ><i class="fas fa-trash"> DELETE TASK</i></button>
    </div>
</form>
</div>


</body>
